html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10 px */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

.container {
  width: 110rem;
  margin: 0 auto;
}

.recent-scores {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputs {
  width: 50%;
  margin-bottom: 1.5rem;
  padding: 0.6rem;
}

.btn-submit {
  width: 10rem;
  height: 3rem;
}

.btn-submit:hover {
  cursor: pointer;
}

.scores {
  list-style: none;
  font-size: 1.4rem;
  margin: 1rem 1rem;
}

.leaderboard {
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
